@model WebApplication2.ViewModels.CardListViewModel

@{
    
    ViewData["Title"] = "All Cards";
    
}

<h1 style="color:#acdc42" class="display-4">@ViewData["Title"]</h1> <br/>


        <div class="panel-body">
            <table class="table table-striped" style="white-space:nowrap">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Set code</th>
                        <th>Type</th>
                        <th>Color</th>
                        <th>CMC</th>
                        <th>Rarity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Card card in Model.Cards)
                    {
                        <tr>
                            <td>@card.CardID</td>
                            <td><a  asp-area="" asp-controller="Cards" asp-route-multiverseID=@card.CardID asp-action="Detail">@card.Name</a></td>
                            <td>@card.SetCode</td>
                            <td>@card.Type</td>
                            <td>@card.Color</td>
                            <td>@card.CMC</td>
                            <td>@card.Rarity</td>
                        </tr>
                    }
                </tbody>
            </table>
</div>


