@model Card
@{

    var id = @ViewData["MultiverseID"];
    ViewData["Title"] = Model.Name;
    ViewData["Image"] = "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=" + id + "&type=card";
    
}


<table >
    
    <tr>
        <td >

            <!--Vlevo nahoře-->
            Detail of card
            <h1 style="color:#acdc42" class="display-4">@ViewData["Title"]</h1>
        </td>
        @* <td >

            <!--Vpravo nahoře-->
              Number from URL:
            Card with ID @ViewData["MultiverseID"] <br/><br/><br/>
            <button class="btn btn-primary">//TODO Random</button><br/><br/>
            <button class="btn btn-primary">//TODO Add card to DB</button><br/><br/>
            <button class="btn btn-primary">//TODO Add card to deck</button> 
            
        </td>*@
        <td rowspan="2">
                    <!--Vpravo dole-->
        <div class="text-center">
                    Card from URL (from link and id):<br/>
                    <img src=@ViewData["Image"] alt="CardImage"/><br/><br/>
        </div>
                </td>
    </tr>
    <tr>
        <td>
            <!--Vlevo dole-->

            Card Info from database:
            <table class="table-striped">
                <tr>
                    <td>Name:</td> <td style="color:#eeeeee"><b>@Model.Name</b></td>
                </tr>
                <tr>
                    <td >Set:</td> <td style="color:#eeeeee"><b>@Model.SetCode</b></td>
                </tr>
                <tr>
                    <td >Type:</td> <td style="color:#eeeeee"><b>@Model.Type</b></td>
                </tr>
                <tr>
                    <td >Color:</td> <td style="color:#eeeeee"><b>@Model.Color</b></td>
                </tr>
                <tr>
                    <td >Artist:</td> <td style="color:#eeeeee"><b>@Model.Artist</b></td>
                </tr>
            </table>

        </td>
        
    </tr>
</table>