@model WebApplication2.ViewModels.CardIndexForm
@{
    ViewData["Title"] = "Cards";
}
<h1 style="color:#acdc42" class="display-4">@ViewData["Title"]</h1>
<table>
    <tr>
        <td>
            <h3>Search cards</h3> <br/>
            <div class="text-center">
                <form asp-controller="Cards" asp-action="CardsSearch">
                    <!--asp-controller="SLOŽKA" asp-action="CSHTML-->

                    <p>
                        <input type="text" name="searchStr"/><br/><br/>
                        <input class="btn btn-primary" type="submit" value="Search"/>
                    </p>
                </form> <br/>
                <h3>
                    <a asp-area="" asp-controller="Cards" asp-action="CardsList">View All Cards</a>
                </h3>
            </div>
        </td>
        <td rowspan="2">
            <h3>Most used cards in decks of most rating player</h3>

 <form asp-action="Index" asp-controller="Cards">
                                <div class="form-group">
            <table style="white-space:nowrap">
                <thead>
                <tr>
                    <th>
                        Cards
                    </th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                @foreach (Card card in Model.CardList.Cards) {
                    <tr>
                        <td>
                            <a asp-area="" asp-controller="Cards" asp-route-multiverseID=@card.CardID asp-action="Detail">@card.Name</a>
                        </td>


                        <td>
                            
                            <a asp-area="" asp-controller="Cards" asp-route-CardID=@card.CardID asp-action="Index"> <input type="submit" class="btn btn-primary" name="@card.CardID" value="@card.CardID"></a>
                           

                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2">
                        <div class="text-right">
                            @*   Select a deck to add a card: <br/> @Html.DropDownListFor(x => x.DeckSelect.SelectedDeck, Model.DeckSelect.Decks, "Select a deck")
                   *@
                           
                                    <label asp-for="DeckSelect.SelectedDeck.DeckID">Select a deck to add a card<span class="text-danger">*</span>:</label>
                                    <select class="form-control" asp-for="DeckSelect.SelectedDeck.DeckID">
                                        <option value="0">Select a card</option>
                                        @foreach (var deck in Model.DeckSelect.Decks) {
                                            <option value=@deck.Value>@deck.Text</option> @*Value is DeckID, Text is Name*@
                                        }
                                    </select>
                                
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
            </div>
            
                                        </form>

            <br>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Best decks</h3>
            <div class="panel-body">
                <table class="table table-striped" style="white-space:nowrap">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Owner ID</th>
                        <th>Stars</th>
                        <th>Cards</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Deck deck in Model.DeckList.Decks) {
                        <tr>
                            <td>@deck.DeckID</td>
                            <td>
                                <a asp-area="" asp-controller="Decks" asp-route-ID=@deck.DeckID asp-action="Detail">@deck.Name</a>
                            </td>
                            <td>@deck.PlayerID</td>
                            <td>@deck.Stars</td>
                            <td>@deck.CardsCount</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </td>

    </tr>


</table>