@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Deck

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (HtmlHelperFormExtensions.BeginForm(Html)) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>DeckModel i guess</h4>
        <hr/>
        @Html.ValidationSummary(true,"",new{@class="text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
         
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
         
                <div class="form-group">
                    @Html.LabelFor(model => model.PlayerID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PlayerID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlayerID, "", new { @class = "text-danger" })
                    </div>
                </div>
         
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
    </div>
    
}
 
<div>
    @Html.ActionLink("Back to List", "Index")
</div>