@model WebApplication2.ViewModels.DeckDetailForm

@{
    @Html.ValidationSummary(true, "Jestli tohle vidím v prohlížeči, začnu slavit", new {@class = "text-danger"})
}

Detail of deck
<h1 style="color:#acdc42" class="display-4">
    @Html.DisplayFor(modelItem => Model.Deck.Name)</h1>
<br/>
<table>
    <tr>
        <td valign="top">

            <div class="panel-body">
                <h4>Cards</h4>
                <table class="table table-striped" style="white-space:nowrap">
                    <thead style="text-align:center">
                    <tr >
                        <th>Count</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var card in Model.CardList.CardsCount) {
                        <tr>
                            <td style="text-align:right">@Html.DisplayFor(count => card.Value)</td>
                            <td>
                                <a asp-area="" asp-controller="Cards" asp-route-multiverseID=@card.Key.CardID asp-action="Detail">@card.Key.Name</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </td>
        
        <td>
            <h4>Stats</h4>
            <table style="text-align:center" >
                <tr>

                    <td>
                        <div id="Modal" class="modal">
                            <div class="modal-content">
                                <div style="text-align:left; width:200px;" class="container" >
                                    
                                    
<!--Rate modal-->
<form style="text-align:left" asp-action="Detail" asp-controller="Decks" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="Rating.Stars">Stars:</label>
        <input class="form-control" asp-for="Rating.Stars" type="number" id="textInput" min="0" max="5" value="3" onchange="document.getElementById('rangeInput').value=this.value;"/> 
        <input class="form-control" asp-for="Rating.Stars" type="range" id="rangeInput" min="0" max="5" onchange="document.getElementById('textInput').value=this.value;"/>
    
        <label asp-for="Rating.PlayerID">And you are?</label>
        <select class="form-control" asp-for="Rating.PlayerID">
    
            @foreach (var player in Model.PlayerSelect.Players) {
                <option value=@player.Value>@player.Text</option> @*Value is PlayerID, Text is Login*@
            }
        </select>
    </div>
  
    
    <button type="button" class="btn btn-secondary" onclick="document.getElementById('Modal').style.display='none'" >
                                           < Back
                                        </button>
    <button type="submit" class="btn btn-primary">Rate ></button>
</form>

                                </div>
                            </div>
                        </div>
                        <span >Average rating: <br/><h5>@Model.Deck.Rank.ToUpper()</h5> (@Model.Deck.Stars stars)</span>
                     </td>
                <td >
                         <button class="btn btn-primary" onclick="document.getElementById('Modal').style.display='block'">Rate this deck</button>
                                      
                </td>
                </tr>
                    @if (Model.CardList.Cards.ToList().Count != 0) {
                        <tr>
                        <td colspan="2">
                            Average CMC per card: <br/><h5>@Model.Deck.Statistics.AvgCmc</h5>
                        </td></tr>
                    }
                
            </table><br/>
            @if (Model.CardList.Cards.ToList().Count != 0) {
                <text>
                    <div>
                        Color Ratio:<br/>
                        <table height="20" class="table-striped">
                            <tr style="text-align:left">
                                <td>
                                    <b>Color</b>
                                </td>
                                <td>
                                    <b>Count</b>
                                </td>
                                <td >
                                    <b>%</b>
                                </td>
                            </tr>
                            @foreach (var m in Model.Deck.Statistics.ColorRatio) {
                                <tr>
                                    <td>@m["color"]</td> <td>@m["cards"]</td> <td>@m["percent"]</td>
                                </tr>
                            }
                        </table>

                        Type Ratio:<br/>
                        <table height="20" class="table-striped">

                            <tr style="text-align:left">
                                <td>
                                    <b>Type</b>
                                </td>
                                <td>
                                    <b>Count</b>
                                </td>
                                <td >
                                    <b>%</b>
                                </td>
                            </tr>
                            @foreach (var m in Model.Deck.Statistics.TypeRatio) {
                                <tr>
                                    <td>@m["color"]</td> <td>@m["cards"]</td> <td>@m["percent"]</td>
                                </tr>
                            }
                        </table>

                    </div>
                </text>
            }

        </td>
    </tr>
    <tr>
        
        <td valign="top">
            <h4>Comments</h4>
            <table class="table table-responsive-xl">
                @foreach (var comment in Model.CommentList.Comments) {
                    <tr>
                        <td style="text-align:right">
                            <b> @comment.Author.Login</b> <br/> @comment.AddedAt.Day/@comment.AddedAt.Month/@comment.AddedAt.Year
                        </td>
                        <td>
                            @comment.Text</td>
                    </tr>
                }

            </table>

        </td>
        <td>
            <h4>Add a comment</h4>
            <form asp-action="Detail" asp-controller="Decks" asp-antiforgery="true">

                <div class="form-group">
                    <label asp-for="Comment.Text">@nameof(Model.Comment.Text)<span class="text-danger">*</span>:</label>
                    <textarea required="required" class="form-control" asp-for="Comment.Text" rows="2" ></textarea>

                    @*    <text><br/>Text<br/></text> @Html.TextBoxFor(m=>m.Comment.Text)<text><br/><br/></text>
                                   @Html.ValidationMessage("Comment.Text", "Please enter some letters", new{@class="text-danger"})
                *@
                </div>

                <div class="form-group">
                    <label asp-for="Comment.PlayerID">@nameof(Model.Comment.Author)<span class="text-danger">*</span>:</label>
                    <select class="form-control" asp-for="Comment.PlayerID">

                        <option value="-1">Select an author</option>
                        @foreach (var player in Model.PlayerSelect.Players) {
                            <option value=@player.Value>@player.Text</option> @*Value is PlayerID, Text is Login*@
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Comment.isChangeRecommended">
                        @Html.CheckBox("Comment.isChangeRecommended")&nbsp;Recommend a change
                    </label>
                </div>

                <div class="form-group">
                    &nbsp; &nbsp; &nbsp;@Html.RadioButtonFor(n => n.Change.ChangeType, "A") <text>&nbsp;Add card</text>
                </div>

                <div class="form-group">
                    &nbsp; &nbsp; &nbsp;@Html.RadioButtonFor(n => n.Change.ChangeType, "D") <text>&nbsp;Delete card</text>
                </div>

                <div class="form-group">
                    <label asp-for="Change.Card.CardID">@nameof(Model.Change.Card):</label>
                    <select class="form-control" asp-for="Change.Card.CardID">
                        <option value="-1">Select a card</option>
                        @foreach (var card in Model.CardSelect.Cards) {
                            <option value=@card.Value>@card.Text</option> @*Value is CardID, Text is Name*@
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Change.Count">@nameof(Model.Change.Count)</label>
                    <input class="form-control" asp-for="Change.Count" type="number" min="1" max="15" style="width:60px"/>
                </div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
            @*    <div class="form-group">     
            @using (Html.BeginForm("Detail", "Decks", FormMethod.Post)) {
                @Html.DropDownListFor(p => p.PlayerSelect.SelectedPlayer, Model.PlayerSelect.Players, "//Select Author")
                <text><br/>Text<br/></text> @Html.TextBoxFor(m=>m.Comment.Text)<text><br/><br/></text>
                @Html.CheckBoxFor(m=>m.Comment.isChangeRecommended) <text>&nbsp;Recommend a change<br/> &nbsp; &nbsp;  </text> //Recommend a change<br/>
                @Html.RadioButtonFor(n=>n.Change.ChangeType,"A") <text>&nbsp;Add a card<br/>&nbsp; &nbsp;  </text> //Add a card<br/>
                @Html.RadioButtonFor(o=>o.Change.ChangeType,"D") <text>&nbsp;Delete a card</text> //Delete a card<br/>
                <table>
                    <tr>
                        <td>  @Html.DropDownListFor(c=>c.CardSelect.SelectedCard,Model.CardSelect.Cards, "//Select a card")
                        </td>
                        <td><input type="number" min="1" max="10" style="width: 60px;"/>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Add a comment"/>
            }
            </div>*@
        </td>
    </tr>
</table>