@model WebApplication2.ViewModels.DeckListViewModel

@{
    ViewData["Title"] = "Decks";
    //ViewData["karta"] = new CardsTable().Select_by_id(3);
}

<h1 style="color:#acdc42" class="display-4">@ViewData["Title"]</h1>
@*
Name: @ViewData["Name"]<br/>
Description: @ViewData["Desctiption"]<br/>
Player ID: @ViewData["PlayerID"]<br/>
<td><a  asp-area="" asp-controller="Decks" asp-action="Create">Create new deck</a></td>
           *@                     
<div class="panel-body">
    <table class="table table-striped" style="white-space:nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner ID</th>
                            <th>Stars</th>
                            <th>Cards count</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Deck deck in Model.Decks)
                        {
                            @if (deck.DeletedAt == null) {
                                 <tr>
                                     <td><a  asp-area="" asp-controller="Decks" asp-route-ID=@deck.DeckID asp-action="Detail">@deck.Name</a></td>
                                     <td>@deck.PlayerID</td>
                                     <td>@deck.Stars</td>
                                     <td>@deck.CardsCount</td>
                                     <td>@deck.Description</td>
                                 </tr>  
                             }
                            
                        }
                    </tbody>
                </table>
</div>