﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #343a40;
  color: aliceblue;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
/*Mah colors & stuff 
------------------------------------------------ #343a40*/
a {
  color: #acdc42;

}
a:hover{
  color: #bee110;
  text-decoration:underline;


}
table {
  border-collapse: collapse;
  width:100%;
}

table, th, td {
  padding: 15px;
}
.table{
    color:whitesmoke;
}
.container{
  background-color: #343a40;
}
.modal{

  background-color:rgba(0, 0, 0, 0.36);
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:transparent;
}
.btn-primary{
  background-color: #343a40;
  border-color: #acdc42;
  color: #acdc42;
}.btn-primary:hover{
  background-color: #acdc42;
  border-color: #acdc42;
  color: #343a40;
}
.btn-secondary{
  background-color: #343a40;
  color: #acdc42;
}
.btn-secondary:hover{
  background-color: rgba(172, 220, 66, 0.1);
  border-color: #acdc42;
  color: #acdc42;
}
 h5{
   color: #acdc42
 }
.form-control{
    background-color: #495057;
    color:aliceblue;
    border: #acdc42;
}
.form-control:focus{
    background-color: #495057;
    color:aliceblue;
    border-color:#acdc42;
    box-shadow: rgba(172, 220, 66, 0.25)
}